In [ ]:
# Standard Libraries

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# For visualizations
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls


# For Web Scrapping
import requests
from bs4 import BeautifulSoup

# For Data Pre-processing
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer   
from textblob import Word, TextBlob
from wordcloud import WordCloud , STOPWORDS

# For topic modeling
from sklearn.decomposition import NMF, LatentDirichletAllocation

# For sentiment analysis
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [ ]:
## Extracting reviews from "Skytrax" website

In [3]:
website = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 363              # Total no. of pages selected for review extraction
page_size = 100          

reviews = []            # object to store extracted reviews from website

for i in range(1, pages + 1):      

    print(f"Scraping data from Page {i}")

    # Create URL to collect links 
    url = f"{website}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    
    response = requests.get(url)     # Collect HTML data from this page

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} Total Reviews")

Scraping data from Page 1
   ---> 100 Total Reviews
Scraping data from Page 2
   ---> 200 Total Reviews
Scraping data from Page 3
   ---> 300 Total Reviews
Scraping data from Page 4
   ---> 400 Total Reviews
Scraping data from Page 5
   ---> 500 Total Reviews
Scraping data from Page 6
   ---> 600 Total Reviews
Scraping data from Page 7
   ---> 700 Total Reviews
Scraping data from Page 8
   ---> 800 Total Reviews
Scraping data from Page 9
   ---> 900 Total Reviews
Scraping data from Page 10
   ---> 1000 Total Reviews
Scraping data from Page 11
   ---> 1100 Total Reviews
Scraping data from Page 12
   ---> 1200 Total Reviews
Scraping data from Page 13
   ---> 1300 Total Reviews
Scraping data from Page 14
   ---> 1400 Total Reviews
Scraping data from Page 15
   ---> 1500 Total Reviews
Scraping data from Page 16
   ---> 1600 Total Reviews
Scraping data from Page 17
   ---> 1700 Total Reviews
Scraping data from Page 18
   ---> 1800 Total Reviews
Scraping data from Page 19
   ---> 1900 Total Reviews
Scraping data from Page 20
   ---> 2000 Total Reviews
Scraping data from Page 21
   ---> 2100 Total Reviews
Scraping data from Page 22
   ---> 2200 Total Reviews
Scraping data from Page 23
   ---> 2300 Total Reviews
Scraping data from Page 24
   ---> 2400 Total Reviews
Scraping data from Page 25
   ---> 2500 Total Reviews
Scraping data from Page 26
   ---> 2600 Total Reviews
Scraping data from Page 27
   ---> 2700 Total Reviews
Scraping data from Page 28
   ---> 2800 Total Reviews
Scraping data from Page 29
   ---> 2900 Total Reviews
Scraping data from Page 30
   ---> 3000 Total Reviews
Scraping data from Page 31
   ---> 3100 Total Reviews
Scraping data from Page 32
   ---> 3200 Total Reviews
Scraping data from Page 33
   ---> 3300 Total Reviews
Scraping data from Page 34
   ---> 3400 Total Reviews
Scraping data from Page 35
   ---> 3500 Total Reviews
Scraping data from Page 36
   ---> 3600 Total Reviews
Scraping data from Page 37
   ---> 3625 Total Reviews
Scraping data from Page 38
   ---> 3625 Total Reviews
Scraping data from Page 39
   ---> 3625 Total Reviews
Scraping data from Page 40
   ---> 3625 Total Reviews
Scraping data from Page 41
   ---> 3625 Total Reviews
Scraping data from Page 42
   ---> 3625 Total Reviews
Scraping data from Page 43
   ---> 3625 Total Reviews
Scraping data from Page 44
   ---> 3625 Total Reviews
Scraping data from Page 45
   ---> 3625 Total Reviews
Scraping data from Page 46
   ---> 3625 Total Reviews
Scraping data from Page 47
   ---> 3625 Total Reviews
Scraping data from Page 48
   ---> 3625 Total Reviews
Scraping data from Page 49
   ---> 3625 Total Reviews
Scraping data from Page 50
   ---> 3625 Total Reviews
Scraping data from Page 51
   ---> 3625 Total Reviews
Scraping data from Page 52
   ---> 3625 Total Reviews
Scraping data from Page 53
   ---> 3625 Total Reviews
Scraping data from Page 54
   ---> 3625 Total Reviews
Scraping data from Page 55
   ---> 3625 Total Reviews
Scraping data from Page 56
   ---> 3625 Total Reviews
Scraping data from Page 57
   ---> 3625 Total Reviews
Scraping data from Page 58
   ---> 3625 Total Reviews
Scraping data from Page 59
   ---> 3625 Total Reviews
Scraping data from Page 60
   ---> 3625 Total Reviews
Scraping data from Page 61
   ---> 3625 Total Reviews
Scraping data from Page 62
   ---> 3625 Total Reviews
Scraping data from Page 63
   ---> 3625 Total Reviews
Scraping data from Page 64
   ---> 3625 Total Reviews
Scraping data from Page 65
   ---> 3625 Total Reviews
Scraping data from Page 66
   ---> 3625 Total Reviews
Scraping data from Page 67
   ---> 3625 Total Reviews
Scraping data from Page 68
   ---> 3625 Total Reviews
Scraping data from Page 69
   ---> 3625 Total Reviews
Scraping data from Page 70
   ---> 3625 Total Reviews
Scraping data from Page 71
   ---> 3625 Total Reviews
Scraping data from Page 72
   ---> 3625 Total Reviews
Scraping data from Page 73
   ---> 3625 Total Reviews
Scraping data from Page 74
   ---> 3625 Total Reviews
Scraping data from Page 75
   ---> 3625 Total Reviews
Scraping data from Page 76
   ---> 3625 Total Reviews
Scraping data from Page 77
   ---> 3625 Total Reviews
Scraping data from Page 78
   ---> 3625 Total Reviews
Scraping data from Page 79
   ---> 3625 Total Reviews
Scraping data from Page 80
   ---> 3625 Total Reviews
Scraping data from Page 81
   ---> 3625 Total Reviews
Scraping data from Page 82
   ---> 3625 Total Reviews
Scraping data from Page 83
   ---> 3625 Total Reviews
Scraping data from Page 84
   ---> 3625 Total Reviews
Scraping data from Page 85
   ---> 3625 Total Reviews
Scraping data from Page 86
   ---> 3625 Total Reviews
Scraping data from Page 87
   ---> 3625 Total Reviews
Scraping data from Page 88
   ---> 3625 Total Reviews
Scraping data from Page 89
   ---> 3625 Total Reviews
Scraping data from Page 90
   ---> 3625 Total Reviews
Scraping data from Page 91
   ---> 3625 Total Reviews
Scraping data from Page 92
   ---> 3625 Total Reviews
Scraping data from Page 93
   ---> 3625 Total Reviews
Scraping data from Page 94
   ---> 3625 Total Reviews
Scraping data from Page 95
   ---> 3625 Total Reviews
Scraping data from Page 96
   ---> 3625 Total Reviews
Scraping data from Page 97
   ---> 3625 Total Reviews
Scraping data from Page 98
   ---> 3625 Total Reviews
Scraping data from Page 99
   ---> 3625 Total Reviews
Scraping data from Page 100
   ---> 3625 Total Reviews
Scraping data from Page 101
   ---> 3625 Total Reviews
Scraping data from Page 102
   ---> 3625 Total Reviews
Scraping data from Page 103
   ---> 3625 Total Reviews
Scraping data from Page 104
   ---> 3625 Total Reviews
Scraping data from Page 105
   ---> 3625 Total Reviews
Scraping data from Page 106
   ---> 3625 Total Reviews
Scraping data from Page 107
   ---> 3625 Total Reviews
Scraping data from Page 108
   ---> 3625 Total Reviews
Scraping data from Page 109
   ---> 3625 Total Reviews
Scraping data from Page 110
   ---> 3625 Total Reviews
Scraping data from Page 111
   ---> 3625 Total Reviews
Scraping data from Page 112
   ---> 3625 Total Reviews
Scraping data from Page 113
   ---> 3625 Total Reviews
Scraping data from Page 114
   ---> 3625 Total Reviews
Scraping data from Page 115
   ---> 3625 Total Reviews
Scraping data from Page 116
   ---> 3625 Total Reviews
Scraping data from Page 117
   ---> 3625 Total Reviews
Scraping data from Page 118
   ---> 3625 Total Reviews
Scraping data from Page 119
   ---> 3625 Total Reviews
Scraping data from Page 120
   ---> 3625 Total Reviews
Scraping data from Page 121
   ---> 3625 Total Reviews
Scraping data from Page 122
   ---> 3625 Total Reviews
Scraping data from Page 123
   ---> 3625 Total Reviews
Scraping data from Page 124
   ---> 3625 Total Reviews
Scraping data from Page 125
   ---> 3625 Total Reviews
Scraping data from Page 126
   ---> 3625 Total Reviews
Scraping data from Page 127
   ---> 3625 Total Reviews
Scraping data from Page 128
   ---> 3625 Total Reviews
Scraping data from Page 129
   ---> 3625 Total Reviews
Scraping data from Page 130
   ---> 3625 Total Reviews
Scraping data from Page 131
   ---> 3625 Total Reviews
Scraping data from Page 132
   ---> 3625 Total Reviews
Scraping data from Page 133
   ---> 3625 Total Reviews
Scraping data from Page 134
   ---> 3625 Total Reviews
Scraping data from Page 135
   ---> 3625 Total Reviews
Scraping data from Page 136
   ---> 3625 Total Reviews
Scraping data from Page 137
   ---> 3625 Total Reviews
Scraping data from Page 138
   ---> 3625 Total Reviews
Scraping data from Page 139
   ---> 3625 Total Reviews
Scraping data from Page 140
   ---> 3625 Total Reviews
Scraping data from Page 141
   ---> 3625 Total Reviews
Scraping data from Page 142
   ---> 3625 Total Reviews
Scraping data from Page 143
   ---> 3625 Total Reviews
Scraping data from Page 144
   ---> 3625 Total Reviews
Scraping data from Page 145
   ---> 3625 Total Reviews
Scraping data from Page 146
   ---> 3625 Total Reviews
Scraping data from Page 147
   ---> 3625 Total Reviews
Scraping data from Page 148
   ---> 3625 Total Reviews
Scraping data from Page 149
   ---> 3625 Total Reviews
Scraping data from Page 150
   ---> 3625 Total Reviews
Scraping data from Page 151
   ---> 3625 Total Reviews
Scraping data from Page 152

   ---> 3625 Total Reviews
Scraping data from Page 153
   ---> 3625 Total Reviews
Scraping data from Page 154
   ---> 3625 Total Reviews
Scraping data from Page 155
   ---> 3625 Total Reviews
Scraping data from Page 156
   ---> 3625 Total Reviews
Scraping data from Page 157
   ---> 3625 Total Reviews
Scraping data from Page 158
   ---> 3625 Total Reviews
Scraping data from Page 159
   ---> 3625 Total Reviews
Scraping data from Page 160
   ---> 3625 Total Reviews
Scraping data from Page 161
   ---> 3625 Total Reviews
Scraping data from Page 162
   ---> 3625 Total Reviews
Scraping data from Page 163
   ---> 3625 Total Reviews
Scraping data from Page 164
   ---> 3625 Total Reviews
Scraping data from Page 165
   ---> 3625 Total Reviews
Scraping data from Page 166
   ---> 3625 Total Reviews
Scraping data from Page 167
   ---> 3625 Total Reviews
Scraping data from Page 168
   ---> 3625 Total Reviews
Scraping data from Page 169
   ---> 3625 Total Reviews
Scraping data from Page 170
   ---> 3625 Total Reviews
Scraping data from Page 171
   ---> 3625 Total Reviews
Scraping data from Page 172
   ---> 3625 Total Reviews
Scraping data from Page 173
   ---> 3625 Total Reviews
Scraping data from Page 174
   ---> 3625 Total Reviews
Scraping data from Page 175
   ---> 3625 Total Reviews
Scraping data from Page 176
   ---> 3625 Total Reviews
Scraping data from Page 177
   ---> 3625 Total Reviews
Scraping data from Page 178
   ---> 3625 Total Reviews
Scraping data from Page 179
   ---> 3625 Total Reviews
Scraping data from Page 180
   ---> 3625 Total Reviews
Scraping data from Page 181
   ---> 3625 Total Reviews
Scraping data from Page 182
   ---> 3625 Total Reviews
Scraping data from Page 183
   ---> 3625 Total Reviews
Scraping data from Page 184
   ---> 3625 Total Reviews
Scraping data from Page 185
   ---> 3625 Total Reviews
Scraping data from Page 186
   ---> 3625 Total Reviews
Scraping data from Page 187
   ---> 3625 Total Reviews
Scraping data from Page 188
   ---> 3625 Total Reviews
Scraping data from Page 189
   ---> 3625 Total Reviews
Scraping data from Page 190
   ---> 3625 Total Reviews
Scraping data from Page 191
   ---> 3625 Total Reviews
Scraping data from Page 192
   ---> 3625 Total Reviews
Scraping data from Page 193
   ---> 3625 Total Reviews
Scraping data from Page 194
   ---> 3625 Total Reviews
Scraping data from Page 195
   ---> 3625 Total Reviews
Scraping data from Page 196
   ---> 3625 Total Reviews
Scraping data from Page 197
   ---> 3625 Total Reviews
Scraping data from Page 198
   ---> 3625 Total Reviews
Scraping data from Page 199
   ---> 3625 Total Reviews
Scraping data from Page 200
   ---> 3625 Total Reviews
Scraping data from Page 201
   ---> 3625 Total Reviews
Scraping data from Page 202
   ---> 3625 Total Reviews
Scraping data from Page 203
   ---> 3625 Total Reviews
Scraping data from Page 204
   ---> 3625 Total Reviews
Scraping data from Page 205
   ---> 3625 Total Reviews
Scraping data from Page 206
   ---> 3625 Total Reviews
Scraping data from Page 207
   ---> 3625 Total Reviews
Scraping data from Page 208
   ---> 3625 Total Reviews
Scraping data from Page 209
   ---> 3625 Total Reviews
Scraping data from Page 210
   ---> 3625 Total Reviews
Scraping data from Page 211
   ---> 3625 Total Reviews
Scraping data from Page 212
   ---> 3625 Total Reviews
Scraping data from Page 213
   ---> 3625 Total Reviews
Scraping data from Page 214
   ---> 3625 Total Reviews
Scraping data from Page 215
   ---> 3625 Total Reviews
Scraping data from Page 216
   ---> 3625 Total Reviews
Scraping data from Page 217
   ---> 3625 Total Reviews
Scraping data from Page 218
   ---> 3625 Total Reviews
Scraping data from Page 219
   ---> 3625 Total Reviews
Scraping data from Page 220
   ---> 3625 Total Reviews
Scraping data from Page 221
   ---> 3625 Total Reviews
Scraping data from Page 222
   ---> 3625 Total Reviews
Scraping data from Page 223
   ---> 3625 Total Reviews
Scraping data from Page 224
   ---> 3625 Total Reviews
Scraping data from Page 225
   ---> 3625 Total Reviews
Scraping data from Page 226
   ---> 3625 Total Reviews
Scraping data from Page 227
   ---> 3625 Total Reviews
Scraping data from Page 228
   ---> 3625 Total Reviews
Scraping data from Page 229
   ---> 3625 Total Reviews
Scraping data from Page 230
   ---> 3625 Total Reviews
Scraping data from Page 231
   ---> 3625 Total Reviews
Scraping data from Page 232
   ---> 3625 Total Reviews
Scraping data from Page 233
   ---> 3625 Total Reviews
Scraping data from Page 234
   ---> 3625 Total Reviews
Scraping data from Page 235
   ---> 3625 Total Reviews
Scraping data from Page 236
   ---> 3625 Total Reviews
Scraping data from Page 237
   ---> 3625 Total Reviews
Scraping data from Page 238
   ---> 3625 Total Reviews
Scraping data from Page 239
   ---> 3625 Total Reviews
Scraping data from Page 240
   ---> 3625 Total Reviews
Scraping data from Page 241
   ---> 3625 Total Reviews
Scraping data from Page 242
   ---> 3625 Total Reviews
Scraping data from Page 243
   ---> 3625 Total Reviews
Scraping data from Page 244
   ---> 3625 Total Reviews
Scraping data from Page 245
   ---> 3625 Total Reviews
Scraping data from Page 246
   ---> 3625 Total Reviews
Scraping data from Page 247
   ---> 3625 Total Reviews
Scraping data from Page 248
   ---> 3625 Total Reviews
Scraping data from Page 249
   ---> 3625 Total Reviews
Scraping data from Page 250
   ---> 3625 Total Reviews
Scraping data from Page 251
   ---> 3625 Total Reviews
Scraping data from Page 252
   ---> 3625 Total Reviews
Scraping data from Page 253
   ---> 3625 Total Reviews
Scraping data from Page 254
   ---> 3625 Total Reviews
Scraping data from Page 255
   ---> 3625 Total Reviews
Scraping data from Page 256
   ---> 3625 Total Reviews
Scraping data from Page 257
   ---> 3625 Total Reviews
Scraping data from Page 258
   ---> 3625 Total Reviews
Scraping data from Page 259
   ---> 3625 Total Reviews
Scraping data from Page 260
   ---> 3625 Total Reviews
Scraping data from Page 261
   ---> 3625 Total Reviews
Scraping data from Page 262
   ---> 3625 Total Reviews
Scraping data from Page 263
   ---> 3625 Total Reviews
Scraping data from Page 264
   ---> 3625 Total Reviews
Scraping data from Page 265
   ---> 3625 Total Reviews
Scraping data from Page 266
   ---> 3625 Total Reviews
Scraping data from Page 267
   ---> 3625 Total Reviews
Scraping data from Page 268
   ---> 3625 Total Reviews
Scraping data from Page 269
   ---> 3625 Total Reviews
Scraping data from Page 270
   ---> 3625 Total Reviews
Scraping data from Page 271
   ---> 3625 Total Reviews
Scraping data from Page 272
   ---> 3625 Total Reviews
Scraping data from Page 273
   ---> 3625 Total Reviews
Scraping data from Page 274
   ---> 3625 Total Reviews
Scraping data from Page 275
   ---> 3625 Total Reviews
Scraping data from Page 276
   ---> 3625 Total Reviews
Scraping data from Page 277
   ---> 3625 Total Reviews
Scraping data from Page 278
   ---> 3625 Total Reviews
Scraping data from Page 279
   ---> 3625 Total Reviews
Scraping data from Page 280
   ---> 3625 Total Reviews
Scraping data from Page 281
   ---> 3625 Total Reviews
Scraping data from Page 282
   ---> 3625 Total Reviews
Scraping data from Page 283
   ---> 3625 Total Reviews
Scraping data from Page 284
   ---> 3625 Total Reviews
Scraping data from Page 285
   ---> 3625 Total Reviews
Scraping data from Page 286
   ---> 3625 Total Reviews
Scraping data from Page 287
   ---> 3625 Total Reviews
Scraping data from Page 288
   ---> 3625 Total Reviews
Scraping data from Page 289
   ---> 3625 Total Reviews
Scraping data from Page 290
   ---> 3625 Total Reviews
Scraping data from Page 291
   ---> 3625 Total Reviews
Scraping data from Page 292
   ---> 3625 Total Reviews
Scraping data from Page 293
   ---> 3625 Total Reviews
Scraping data from Page 294
   ---> 3625 Total Reviews
Scraping data from Page 295
   ---> 3625 Total Reviews
Scraping data from Page 296
   ---> 3625 Total Reviews
Scraping data from Page 297
   ---> 3625 Total Reviews
Scraping data from Page 298
   ---> 3625 Total Reviews
Scraping data from Page 299
   ---> 3625 Total Reviews
Scraping data from Page 300
   ---> 3625 Total Reviews
Scraping data from Page 301

   ---> 3625 Total Reviews
Scraping data from Page 302
   ---> 3625 Total Reviews
Scraping data from Page 303
   ---> 3625 Total Reviews
Scraping data from Page 304
   ---> 3625 Total Reviews
Scraping data from Page 305
   ---> 3625 Total Reviews
Scraping data from Page 306
   ---> 3625 Total Reviews
Scraping data from Page 307
   ---> 3625 Total Reviews
Scraping data from Page 308
   ---> 3625 Total Reviews
Scraping data from Page 309
   ---> 3625 Total Reviews
Scraping data from Page 310
   ---> 3625 Total Reviews
Scraping data from Page 311
   ---> 3625 Total Reviews
Scraping data from Page 312
   ---> 3625 Total Reviews
Scraping data from Page 313
   ---> 3625 Total Reviews
Scraping data from Page 314
   ---> 3625 Total Reviews
Scraping data from Page 315
   ---> 3625 Total Reviews
Scraping data from Page 316
   ---> 3625 Total Reviews
Scraping data from Page 317
   ---> 3625 Total Reviews
Scraping data from Page 318
   ---> 3625 Total Reviews
Scraping data from Page 319
   ---> 3625 Total Reviews
Scraping data from Page 320
   ---> 3625 Total Reviews
Scraping data from Page 321
   ---> 3625 Total Reviews
Scraping data from Page 322
   ---> 3625 Total Reviews
Scraping data from Page 323
   ---> 3625 Total Reviews
Scraping data from Page 324
   ---> 3625 Total Reviews
Scraping data from Page 325
   ---> 3625 Total Reviews
Scraping data from Page 326
   ---> 3625 Total Reviews
Scraping data from Page 327
   ---> 3625 Total Reviews
Scraping data from Page 328
   ---> 3625 Total Reviews
Scraping data from Page 329
   ---> 3625 Total Reviews
Scraping data from Page 330
   ---> 3625 Total Reviews
Scraping data from Page 331
   ---> 3625 Total Reviews
Scraping data from Page 332
   ---> 3625 Total Reviews
Scraping data from Page 333
   ---> 3625 Total Reviews
Scraping data from Page 334
   ---> 3625 Total Reviews
Scraping data from Page 335
   ---> 3625 Total Reviews
Scraping data from Page 336
   ---> 3625 Total Reviews
Scraping data from Page 337
   ---> 3625 Total Reviews
Scraping data from Page 338
   ---> 3625 Total Reviews
Scraping data from Page 339
   ---> 3625 Total Reviews
Scraping data from Page 340
   ---> 3625 Total Reviews
Scraping data from Page 341
   ---> 3625 Total Reviews
Scraping data from Page 342
   ---> 3625 Total Reviews
Scraping data from Page 343
   ---> 3625 Total Reviews
Scraping data from Page 344
   ---> 3625 Total Reviews
Scraping data from Page 345
   ---> 3625 Total Reviews
Scraping data from Page 346
   ---> 3625 Total Reviews
Scraping data from Page 347
   ---> 3625 Total Reviews
Scraping data from Page 348
   ---> 3625 Total Reviews
Scraping data from Page 349
   ---> 3625 Total Reviews
Scraping data from Page 350
   ---> 3625 Total Reviews
Scraping data from Page 351
   ---> 3625 Total Reviews
Scraping data from Page 352
   ---> 3625 Total Reviews
Scraping data from Page 353
   ---> 3625 Total Reviews
Scraping data from Page 354
   ---> 3625 Total Reviews
Scraping data from Page 355
   ---> 3625 Total Reviews
Scraping data from Page 356
   ---> 3625 Total Reviews
Scraping data from Page 357
   ---> 3625 Total Reviews
Scraping data from Page 358
   ---> 3625 Total Reviews
Scraping data from Page 359
   ---> 3625 Total Reviews
Scraping data from Page 360
   ---> 3625 Total Reviews
Scraping data from Page 361
   ---> 3625 Total Reviews
Scraping data from Page 362
   ---> 3625 Total Reviews
Scraping data from Page 363
   ---> 3625 Total Reviews

In [4]:
# Storing reviews in a pandas dataframe 
df = pd.DataFrame()               
df["reviews"] = reviews             
df.head()

                                             reviews
0  ✅ Trip Verified |  My family flew from Washing...
1  ✅ Trip Verified |  Easy check in a T5. Galleri...
2  Not Verified |  Flight delayed by an hour, it ...
3  Not Verified | The staff are very rude and not...
4  ✅ Trip Verified |  Good domestic flight operat...

In [5]:
df.reviews= df.reviews.str.split('|',expand=True)[1]

In [6]:
df.head()

                                             reviews
0    My family flew from Washington to London on ...
1    Easy check in a T5. Galleries south and Nort...
2    Flight delayed by an hour, it happens, no bi...
3   The staff are very rude and not trained prope...
4    Good domestic flight operated by BA Cityflye...

In [7]:
def replace(text):            # Define a function to clean the text
    text = re.sub(r'[^A-Za-z]+', ' ', str(text)) # Replaces all special characters and numericals with blanks and leaving the alphabets
    return text
# Cleaning the text in the review column
df['reviews']= df["reviews"].apply(replace)
df.head()

                                             reviews
0   My family flew from Washington to London on a...
1   Easy check in a T Galleries south and North l...
2   Flight delayed by an hour it happens no biggi...
3   The staff are very rude and not trained prope...
4   Good domestic flight operated by BA Cityflyer...

In [8]:
df['reviews'] = df['reviews'].str.lower()

In [9]:
df.head()

                                             reviews
0   my family flew from washington to london on a...
1   easy check in a t galleries south and north l...
2   flight delayed by an hour it happens no biggi...
3   the staff are very rude and not trained prope...
4   good domestic flight operated by ba cityflyer...

In [10]:
df['reviews'] = df['reviews'].str.replace('[^\w\s]', '')

In [11]:
df.head()

                                             reviews
0   my family flew from washington to london on a...
1   easy check in a t galleries south and north l...
2   flight delayed by an hour it happens no biggi...
3   the staff are very rude and not trained prope...
4   good domestic flight operated by ba cityflyer...

In [12]:
df['reviews'] = df['reviews'].str.replace('\d', '')

In [13]:
df.head()

                                             reviews
0   my family flew from washington to london on a...
1   easy check in a t galleries south and north l...
2   flight delayed by an hour it happens no biggi...
3   the staff are very rude and not trained prope...
4   good domestic flight operated by ba cityflyer...

In [14]:
df.to_csv("BA_reviews.csv")